.example-action-button {
    margin-top: 8px;
    margin-right: 8px;
}

.mat-tab-label-active{
    color: #3398dc !important;
    background-color: #efefef;
    font-weight: bold;
}

.tweet-content-table {
  background-color: #efefef;
}